.header{
    &__main{
        padding: 3rem 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text{
   
    }
    &__text1{
      font-size: 5.5rem;
    //   font-weight: 700;
    }
    &__paragraph{
      font-size: 2rem;
      color: var(--very-dark-blue);
    }
    &__image{
        width: 60rem;
        transform: translateX(12rem);
        overflow-x: hidden;
    }
}
